.Button {
    marginTop: -12px;
    WebkitAppearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    fontSize: inherit;
    opacity: .9;
    textShadow: none;
    fontWeight: 700;
    lineHeight: 1;
    color: #808080;
}
