.Modal {
    z-index: 500;
    background-color: white;
    width: 70%;
    height: 70%;
    overflow: auto;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    position: fixed;
    top: 10%;
    transform: translateY(-50%);
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    border-radius: 15px;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}

